// COLORS
$green-main: #17AB71;
$white: #FFFFFF;
$black: #000000;
$grey-1: #B9BABA;
$grey-2: #3D413F;

// FONT WEIGHTS
$thin: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;


.container {
    max-width: 1146px;
    margin: 0 auto;
  }

.content {
    width: 100%;
    position: relative;
    margin-top: 149px;

    
  
    h1{
        font-family: 'Oswald';
        font-weight: $medium;
        font-size: 65px;
    }
    
    h3{
        max-width: 646px;
        margin-top: 30px;
        text-align: left;
        font-size: 32px;
        color: #909291;
        opacity: 1;
        font-family: 'Oswald';
        font-weight: $thin;
    }

    
    h2{
        font-size: 48px;
        text-align: center;
        margin-top: 108px;
        font-weight: $medium;
        font-family: 'Oswald';

    }
    

    .category-list {
        list-style-type: none;
        display: flex;
        text-align: center;
        margin-top: 46px;
        justify-content: center;
        
      }
    .category-item {
        padding: 24px 0px;
    }
    .category-link {
        color: $grey-1;
        font-weight: $semi-bold;
        font-family: 'Oswald';

    
      }

    .category-item:hover {
        .smallline {
            background-color: $green-main;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(.645, .045, .355, 1);
          }
        .category-link {
            color: $grey-2;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(.645, .045, .355, 1);
        }
          
    }
    
    
    .smallline {
    width: 253px;
    height: 5px;
    background: #D0FFB7 0% 0% no-repeat padding-box;
    border-radius: 10px;
    margin-top: 30px;
    
    }


    .info {
    width: 355px;
    height: 455px;
    box-shadow: 0px 30px 50px $grey-1;
    background-color: rgb(241, 241, 241);
    padding: 0;
    
    }

    .photo {
    background-image: url(../view.png);
    width: 100%;
    height: 237px;

    }

    .text
    {
        width: 100%;
        height: 218px;
        background-color: rgb(241, 241, 241);
        padding: 5px 28px;
        text-align: left;


        h4 {
            font-size: 28px;
            padding: 10px 0;
            font-weight: $thin;
            font-family: 'Oswald';

        }

        .date {
        font-size: 16px;
        padding: 5px 0;
        font-weight: $thin;
        font-family: 'Oswald';
        }
        p {
            font-size: 18px;
            padding: 5px 0;
            font-weight: $thin;
            font-family: 'Oswald';

        }

        .viewMore {
            text-transform: uppercase;
            display: block;
            text-align: right;
            margin-top: 10px;
            color: $green-main;
            font-weight: $semi-bold;
            font-family: 'Oswald';
            font-size: 12px;

        }
        

       }
    
    .bigInfo {
        width: 1143px;
        height: auto;
        background-color: rgb(241, 241, 241);;
        margin-top: 81px;
        box-shadow: 0px 30px 50px $grey-1;
        padding: 0;
        

        .bigPhoto {
            width: 100%;
            height: 294px;
            background-image: url(../viewBig.png);
            

            .reklama {
                width: 167px;
                height: 55px;
                top: 0;
                margin-left: 89px;
                z-index: 1000;
                background-color: $green-main;
                

                p {
                    color: $white;
                    text-align: center;
                    padding: 15px 0;
                    font-size: 16px;
                    font-weight: $thin;
                    font-family: 'Oswald';
                }
            }
        }

        .bigText {
            //height: 305px;
            background-color: rgb(241, 241, 241);
            padding-bottom: 20px;
        
    
            h2 {
                font-size: 56px;
                margin-top: 40px;
                font-weight: $regular;
                font-family: 'Oswald';
    
                
            }
            .bigTextContent {
                text-align: center;
                padding: 20px 150px;
                font-weight: $thin;
                font-family: 'Oswald';
                font-size: 18px;
                
            }
            .viewMore {
                text-transform: uppercase;
               display: block;
               text-align: center;
               margin-top: 20px;
               color: $green-main;
               font-weight: $semi-bold;
               font-family: 'Oswald';
               font-size: 12px;
            }
        }


    }
      
}

.my-boxl {
    background-color: $grey-1;
    height: 198px;
    display: flex;

    

    p {
        font-size: 12px;
        margin-top: 64px;
        margin-left: 52px;
        color: $grey-2;
        font-weight: $semi-bold;
        font-family: 'Oswald';

    }
    

    h3 {
        font-size: 32px;
        margin-top: 3px;
        margin-left: 52px;
        color: $black;
        font-family: 'Oswald';
        font-weight: $medium;
        

    }
    .arrowleft{
        display: block;
        margin: auto;
        width: 64px;
        
    }
}

.my-boxr {
        background-color: $green-main;
        height: 198px;
        display: flex;

        p {
            font-size: 12px;
            margin-top: 64px;
            margin-left: 52px;
            color: $white;
            font-weight: $semi-bold;
            font-family: 'Oswald';

        }

        h3 {
            font-size: 32px;
            margin-top: 3px;
            margin-left: 52px;
            color: $white;
            font-family: 'Oswald';
            font-weight: $medium;
        }
        .arrowright{
            display: block;
            margin: auto;
        }
}

.break {
    margin-top: 85px;
}

.bigLine {
    //width: 100%;
    margin-top: 168px;
    height: 376px;
    background-color: #F4F8F6;
    opacity: 1; 
    margin: 0;
    padding: 0;
}


.footer {
    background-color: $white;
    width: 100%;
    position: relative;
    height: 85px;
    padding: 0 0;

    p {
        font-size: 12px;
        color: $grey-1;
        text-align: center;
        padding: 36px 0;
        font-weight: $semi-bold;
        font-family: 'Oswald';
        
    }
}

@media only screen and (max-width: 992px) {
    .my-boxl{
      margin-bottom: 30px;
    }

    .info{
        margin-bottom: 30px;
        width: 150%;
    }

    .infophone {
        display: flex;
        justify-content: center;
    }

    .content {
        .bigInfo {
            .bigText {
                .bigTextContent {
                    font-size: 10px;
                }  
            }
        }   
    }   
    
  }